.primary-overlay {
	/* background: rgba(63, 57, 77, 0.4); */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.main-header {
	background: url(../img/background.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	color: #fff;
	position: relative;
}

.main-header .showcase {
	padding-top: 110px;
}

.scroll-icon {
	position: absolute;
	bottom: 5%;
	left: 47%;
	opacity: 0.5;
}

.box {
	padding: 40px 10px !important;
}

.box h4 {
	padding-bottom: 30px;
}

.section-boxes .row {
	margin-bottom: 0 !important;
}

.section-pricing {
	height: 60vh;
	min-height: 600px;
}

.pricing-stuff {
	/* padding-top: 0vh; */
}

.section-contact {
	position: relative;
}

.section-portfolio {
	/* background: url(../img/port-pic.jpg); */
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

/* .about-section-item {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
} */

.adappt-logo {
	width: 250px;
}

.pricing-card {
	height: 200px;
}

.section-contact .card-panel {
	position: relative;
	z-index: 1;
	margin-top: 5vh;
}

.divider1 {
	background: url(../img/dividers/macbook2.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	/* height: 100vh; */
	min-height: 60vh;
}

.divider2 {
	background: url(../img/dividers/divider2.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	/* height: 100vh; */
	min-height: 60vh;
}

.divider3 {
	background: url(../img/dividers/divider3.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	/* height: 100vh; */
	min-height: 60vh;
}

.selfie {
	height: 360px !important;
}

#googlemap {
	position: absolute;
	min-height: 97vh;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}

@media (max-width: 600px) {
	.main-header {
		height: 50vh;
	}
}