.clickable {
	cursor: pointer;
}

.splash {
	background: url(./img/back5-1.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 100vh;
	min-height: 600px;
	color: #fff;
	position: relative;
	right: 0;
	left: 0;
}
.bio {
	background: url(./img/portrait2.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 100vh;
	min-height: 600px;
	color: white;
	position: relative;
}

.bio-text {
	/* padding: 0px 20px !important; */
}

.bio-right {
	text-align: right;
}

.header {
	text-align: center;
	padding-top: 120px;
}

.home-buttons {
	background-color: black;
}

.home-buttons-row {
	padding-top: 20px;
}

.scroll-icon {
	position: absolute;
	bottom: 5%;
	left: 47%;
	opacity: 0.5;
}
