canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.canvas {
	/* margin: 100px;
	width: 700px; */
}

#loading {
	padding-top: 10vh;
}
.centerize {
	text-align: center;
	/* padding-top: 70px; */
}
